@inherits LayoutComponentBase

<div class="page">
    <main>
        <MudAppBar Color="Color.Info" Fixed="false">
            <MudIconButton Icon="@Icons.Material.Rounded.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="ToggleDrawer" />
            <MudSpacer />
            @if (State.IsLoggedIn)
            {
                <MudIconButton Icon="@Icons.Material.Rounded.Logout" Color="Color.Inherit" OnClick="OnLogutClick" />
            } else
            {
                <MudIconButton Icon="@Icons.Material.Rounded.Login" Color="Color.Inherit" OnClick="OnLoginClick" />
            }           
        </MudAppBar>

        <MudDrawerContainer Class="mud-height-full">
            <MudDrawer @bind-Open="@open" Elevation="0" Variant="@DrawerVariant.Persistent" Color="Color.Info">
                <MudDrawerHeader>
                    <MudText Typo="Typo.h6">My App</MudText>
                </MudDrawerHeader>
                <MudNavMenu Color="Color.Secondary">
                    @if (!State.IsAdmin)
                    {
                        <MudNavLink Href="/" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home" IconColor="Color.Inherit">Gyms</MudNavLink>
                        <MudNavLink Href="/Bookings" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.History" IconColor="Color.Inherit">Bookings</MudNavLink>
                        <MudNavLink Href="/Profile" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Person" IconColor="Color.Inherit">Profile</MudNavLink>
                    } else
                    {
                        <MudNavLink Href="/" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home" IconColor="Color.Inherit">Gyms</MudNavLink>
                        <MudNavLink Href="/Bookings" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.History" IconColor="Color.Inherit">Bookings</MudNavLink>
                        <MudNavLink Href="/Profile" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Person" IconColor="Color.Inherit">Profile</MudNavLink>
                        <MudNavLink Href="/Dashboard" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Dashboard" IconColor="Color.Inherit">Dashboard</MudNavLink>
                        <MudNavLink Href="/Users" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.People" IconColor="Color.Inherit">Users</MudNavLink>
                    }
                </MudNavMenu>
            </MudDrawer>
                <div>
                    <article class="content px-4">
                        @Body
                    </article>
                </div>
        </MudDrawerContainer>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

@code
{
    [CascadingParameter] public GlobalAppState State { set; get; }
    [Inject] public NavigationManager manager { get; set; }

    public void OnLoginClick()
    {
        manager.NavigateTo("/Login");
    }

    public void OnLogutClick()
    {
        State.RemoveToken();
        manager.NavigateTo("/");
    }

    public void OnProfileClick()
    {
        manager.NavigateTo("/Profile");
    }

    bool open = false;

    void ToggleDrawer()
    {
        open = !open;
    }
}